#calendrier th,#calendrier td{
    border:1px solid black;
    vertical-align:text-top;
    overflow:hidden;
}

#calendrier td{
    width:150px;
    max-width:150px;
    
    max-height:30px;
}


#calendrier tr>td:nth-child(1) , #calendrier tr>th:nth-child(1) {
    border:1px solid blue;
    width:70px;
}

#calendrier tr>th {
    border:1px solid blue;
}





 table{
    
}


 tr{
max-height:20px;
}

/*

 tr{
    height:20px;
    max-height:20px;
    overflow:auto;
}

*/

.down{
    background-color:#E9967A;
}