#calendrier th,#calendrier td{
    border:1px solid black;
    vertical-align:text-top;
    overflow:hidden;
}

#calendrier td{
    width:150px;
    max-width:150px;
    max-height:20px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow:hidden;
}


#calendrier tr>td:nth-child(1) {
    border:2px solid blue;
    width:70px;
}

#calendrier tr>th {
    border:2px solid blue;
}

tr{
    diplay:block;
    height:10%;
}


#choix_semaine{
    width:150px;
    display:inline-block;
}



/*

#calendrier tr{
height:20px;
overflow:hidden;
}

table{
    table-layout: fixed;
    height:600px;
    max-height:600px;
}
*/

.down{
    background-color:#E9967A;
}