        <link rel="stylesheet" href="style/bootstrap-3.3.4-dist/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="style/navigation.css" type="text/css" />
        <link rel="stylesheet" href="style/bootstrap-3.3.4-dist/css/bootstrap-dialog.css" type="text/css" />
        
        
        
    <script type="text/javascript" src="script/jquery-2.1.3.min.js"></script>
    <script src="script/bootstrap-tooltip.js"></script>
    <script src="script/bootstrap-popover.js"></script>
    <script type="text/javascript" src="style/bootstrap-3.3.4-dist/js/bootstrap.min.js"> </script>
    <script src="style/bootstrap-3.3.4-dist/js/bootstrap-dialog.js"></script> 
    <script type="text/javascript" src="script/erreur.js"></script>