   
   
   
   <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">CALENDRIER</a>
          </div>
          
          <ul class="nav navbar-nav">
            {% if app.session.get('level') is not null %}
            <li> <a href="/compte">Mon compte </a> </li>
            {% endif %}
            
            
            {% if app.session.get('level') is defined and app.session.get('level')==2 %}
            <li class="active"> <a href="/administration">Administration </a> </li>
            {% elseif app.session.get('level') is null %}
            <li class="active"> <a href="/signup">Créer un compte </a> </li>
            {% endif %}
            
            <li> <a href="/propos">A propos !</a> </li>
            
            
              
              
          </ul>
          
          {% if app.session.get('login') is not defined or app.session.get('login') is null  %}
          <form class="navbar-form navbar-right inline-form" method="POST" action="/signin">
            <div class="form-group">
              <input type="text" class="input-sm form-control" placeholder="login" name="login">
               <input type="password" class="input-sm form-control" placeholder="mot de passe" name="password">
              <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Se connecter</button>
            </div>
          </form>
          {% endif %}
          
          
          
          
          {% if app.session.get('login') is defined  and app.session.get('login') is not null %}
          <form class="navbar-form navbar-right inline-form" method="POST" action="/signout">
            <div class="form-group">
             <!-- <span class="label label-info" id="lastco">Derniere connexion:{{ app.session.get('lastco') }}</span> -->
              <span class="label label-success" id="affichepseudo">{{app.session.get('login')}}</span>
              
              <!--
              {% if app.session.get('level') is defined%}
                {% if app.session.get('level')==0 %}
                <span class="badge">(en attente de validation)</span>
                {% endif %}
                
                {% if app.session.get('level')==1 %}
                <span class="badge">(utilisateur normal)</span>
                {% endif %}
                
                {% if app.session.get('level')==2 %}
                <span class="badge">(Administrateur)</span>
                {% endif %}
              
              {% endif %}-->
              
              <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Se deconnecter</button>
            </div>
          </form>
              
          {% endif %}
          
 
    </nav>
    
    
    
    
