<!DOCTYPE html>
<html>
    <head>
        <title>Connexion Calendrier</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../style/cadre.css" type="text/css" />
        <link rel="stylesheet" href="../style/bootstrap-3.3.4-dist/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="../style/navigation.css" type="text/css" />
    </head>
    
    
    <body>
        

  {% include 'include/navigation.html' %}
    
    <div class="container">

      <div class="row">
        <div class="col-sm-offset-4 col-sm-5 formulaire">
          
                <div class="row">
                    <h2>À propos</h2> 
                </div>
          
                <div class="row">
                    <div class="col-sm-6">
                        <span class='question'> Mot de passe oublié ?</span>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class='reponse'>Contacter un Développeur. </span>
                    </div>  
                </div>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        <span class='question'> Développeur:</span>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class='reponse'>Basri Mohamed    <a HREF="mailto:basrimohamed@live.fr">Envoyer un mail</a></span><br/>
                    </div>
                <div class="col-sm-offset-2 col-sm-10">
                        <span class='reponse'>Imene Zemmouri    <a HREF="mailto:imenezemmouri@hotmail.fr">Envoyer un mail</a></span><br/>
                    </div>
                </div>
                
                
                
                <div class="row">
                    <div class="col-sm-6">
                        <span class='question'> lieu:</span>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-6">
                        <span class='reponse'>UVSQ - UFR des sciences </span>
                    </div>  
                </div>
                
                
                
                <div class="row">
                    <div class="col-sm-6">
                        <span class='question'> année:</span>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-6">
                        <span class='reponse'>2014/2015 </span>
                    </div>  
                </div>
                
                
                
                <div class="row">
                    <div class="col-sm-6">
                        <span class='question'> Raison:</span>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-6">
                        <span class='reponse'>Projet AWS - M1 INFO </span>
                    </div>  
                </div>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        <span class='question'> Code source:</span>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <span class='reponse'> <b>www.github.com/kibadex/calendrier</b </span>
                    </div>  
                </div>
          
         
        </div>
      </div>
  </div>
        
        
        
        
    </body>
</html>